li {
	padding-bottom: 0.8em;
}

li.ids {
	padding-bottom: 0.4em;
}

a {
	text-decoration: none;
}

a:visited {
    color: inherit;
}

a.ext {
	background: url(ext.png) center right no-repeat;
	padding-right: 12px;
}

ul li span {
    display: inline-block;
    width: 120px;
}
