html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 70px;
  padding-bottom: 30px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* My old style */
li.ids {
	padding-bottom: 0.4em;
}
